{
  "extends": ["airbnb-base"],
  "env": {
    "node": true,
    "es6": true,
    "browser": true,
    "mocha": true,
    "jest": true
  },
  "rules": {
    "no-console" : 1,
    "no-underscore-dangle": 0,
    "semi": ["error", "always"]
  }
}
